{% extends 'base.html.twig' %}

{% block title %}AppClass index{% endblock %}

{% block body %}
    <h1>AppClass index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Active</th>
                <th>CreationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for app_class in app_classes %}
            <tr>
                <td>{{ app_class.id }}</td>
                <td>{{ app_class.name }}</td>
                <td>{{ app_class.active ? 'Yes' : 'No' }}</td>
                <td>{{ app_class.creationDate ? app_class.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_class_show', {'id': app_class.id}) }}">show</a>
                    <a href="{{ path('app_class_edit', {'id': app_class.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_class_new') }}">Create new</a>
{% endblock %}
